# Mengabaikan file environment yang berisi rahasia/jalur
.env

# Mengabaikan folder database dan isinya
data/*.db

# Mengabaikan dataset mentah berukuran besar
data/*.csv

# Mengabaikan folder virtual environment Python (jika ada)
venv/
__pycache__/

# Abaikan file hasil database
# *.duckdb
# *.db

# Abaikan plugin bawaan Metabase
metabase-plugins/
*.jar
*.csv
