# Mengabaikan file environment yang berisi rahasia/jalur
.env

# Mengabaikan folder database dan isinya
data/
*.duckdb
*.db

metabase-data/

# Mengabaikan folder virtual environment Python (jika ada)
venv/
__pycache__/

# Abaikan plugin bawaan Metabase
metabase-plugins/
*.jar
*.csv
